<div id="wrapper">
  <div id="shopping-list">
    <div id="list">
      <h2> Shopping List</h2>
      <ul *ngIf="shoppingItems$">
        <li *ngFor="let shopping of shoppingItems$ | async" (click)="delItem(shopping.id)">
          {{shopping.name}}
        </li>
      </ul>
    </div>
  </div>
<div>
  <h4>Add Elements</h4>
</div>

<form (ngSubmit)="addItems()">
    <input type="text" name="id" placeholder="id" [(ngModel)]="newItem.id">
    <input type="text" name="name" placeholder="name" [(ngModel)]="newItem.name">

  <button type="submit">submit</button>

</form>


</div>
